<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    </style> 
    <title>Document</title>
</head>
<body>
    <h1>Mission Show Page</h1>
    <p>Mission: <%= oneMission.name %></p>
    <p>Launchdate: <%= oneMission.launchDate  %>  </p>    
    <p>Operator: <%= oneMission.operator  %>   </p>
    <p>Mission Type: <%= oneMission.missionType%></p>
    <img src=<%= oneMission.img %> alt="">
</body>
</html>

