<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/style.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <h1>Here you can view a single mission!</h1>
    <main>
        <p> The <%= oneMission.name %> launched on <%= oneMission.launchDate %> and the operator was <%= oneMission.operator %> and it was a <%= oneMission.missionType %> mission.</p>
        <p class = "picture">Here's a picture.</p>
        <img src= "<%= oneMission.img %>"">
    </main> 
</body>
</html>