<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mars Mission</title>
</head>
<body>
    <h1 class="name"><%= mission.name %></h1>
    <p class="launchDate">Launch Date: <%= mission.launchDate %></p>
    <p class="operator">Operator: <%= mission.operator %></p>
    <p class="missionType">Mission Type: <%= mission.missionType %></p>
    <p class="img"><img src="<%= mission.img %>"></p>
</body>
</html>